* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #deeeff;
    height: 100vh;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    margin-top: 50px;
    width: 600px;
    height: 200px;
    padding: 20px;
    background: white;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.tabs {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
    border-bottom: 2px solid rgba(229, 229, 229);
}

.tab-btn {
    position: relative;
    font-size: 22px;
    font-weight: 600;
    color: #919191;
    cursor: pointer;
    user-select: none;
}

.tab-btn a {
    display: block;
    padding: 15px 20px;
    transition: scale 0.1s ease-in-out;
}

.line {
    position: absolute;
    top: 50px;
    left: 22px;
    width: 90px;
    height: 4px;
    border-radius: 5px;
    background: #7360ff;
    transition: all 0.15s ease-in-out;
}

.tab-btn.active a {
    font-weight: 700;
    scale: 1.1;
    color: #7360ff;
}

.tab-content {
    padding: 20px;
}

.content-desc {
    margin-bottom: 20px;
}

.content-desc h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.content-desc.active {
    animation: appear 0.1s ease-in;
}

@keyframes appear {
    from {
        transform: translate(10px);
        opacity: 0;
    }
    to {
        transform: translate(0);
        opacity: 1;
    }
}
